@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Moul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Moul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Moul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav-contain {
  background: #FFB6C1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 6px;
}
nav ul {
  display: flex;
}
nav ul .img-logo img {
  width: 80px;
}
nav ul.center-nav li a {
  padding: 48px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: 0.4s linear;
}
nav ul.center-nav .active {
  -webkit-text-decoration: underline white 2px;
          text-decoration: underline white 2px;
  color: white;
}
nav ul.logo-icon {
  display: flex;
  align-items: center;
  border: none;
  background: #FF6F61;
  padding: 10px;
  border-radius: 24px;
  gap: 12px;
}
nav ul.logo-icon li a {
  color: white;
  text-decoration: none;
}
nav ul.logo-icon span {
  font-size: 28px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  list-style: none;
}

.card {
  background-color: #FFF7EF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 80%;
  margin: auto;
  margin-top: 60px;
  border-radius: 24px;
  display: flex;
}
.card .content {
  margin: 12px;
}
.card .infor-card {
  width: 40%;
}
.card .infor-card,
.card .form-card {
  margin: 36px;
  margin-left: 100px;
}
.card h1 {
  color: #FF6F61;
  font-size: 32px;
}
.card .contact-icon, .card .list {
  margin: 12px;
  gap: 8px;
}
.card .contact-icon {
  display: flex;
  align-items: center;
  padding: 16px;
}
.card .contact-icon .material-symbols-outlined {
  color: white;
  background-color: #FF6F61;
  padding: 8px;
  border-radius: 24px;
}
.card .infor-card p {
  margin-top: 16px;
}
.card .list {
  display: flex;
  flex-direction: column;
}
.card .list input {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 120%;
  height: 5vh;
  border: none;
  padding: 12px;
  border-radius: 14px;
}
.card .list1 input {
  height: 14vh;
  display: flex;
  border-radius: 12px;
}

.card-pop {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  align-items: center;
  width: 520px;
  height: 296px;
  gap: 36px;
  border-radius: 24px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card-pop img {
  width: 250px;
  height: 296px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.card-pop .body-card-pop p {
  margin-bottom: 8px;
  font-size: 18px;
}
.card-pop .star {
  margin-top: 24px;
  color: #FF8C00;
}
.card-pop .black-star {
  color: black;
}
.card-pop .body-card-pop button {
  color: white;
  padding: 6px;
  width: 100px;
  border: none;
  background: #FF6F61;
  border-radius: 18px;
  font-size: 12px;
  transition: 0.4s linear;
  cursor: pointer;
}
.card-pop .body-card-pop button:hover {
  background-color: #FF8C00;
}

.set-day .cards-set .card-set {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 24px;
  width: 90%;
  margin: auto;
  height: 400px;
  margin-bottom: 48px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.set-day .cards-set .card-set img {
  width: 500px;
  height: 400px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.set-day .cards-set .card-set img:nth-child(2) {
  height: 400px;
  width: 500px;
  margin-left: 60px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.set-day .cards-set .card-set .body-card-set {
  width: 45%;
  margin-left: 96px;
}
.set-day .cards-set .card-set .body-card-set h2 {
  font-family: "Itim", cursive;
  color: #FF6F61;
  font-size: 48px;
}
.set-day .cards-set .card-set .body-card-set h2:nth-child(2) {
  font-family: "Itim", cursive;
  color: #FF6F61;
  font-size: 48px;
}
.set-day .cards-set .card-set .body-card-set h2:nth-child(3) {
  font-family: "Itim", cursive;
  color: #FF6F61;
  font-size: 48px;
}
.set-day .cards-set .card-set .body-card-set p:nth-child(2) {
  margin-top: 24px;
  width: 70%;
}
.set-day .cards-set .card-set .body-card-set p:nth-child(3) {
  margin: 12px 0px;
  font-size: 24px;
}
.set-day .cards-set .card-set .body-card-set button {
  color: white;
  padding: 4px;
  width: 120px;
  border: none;
  background: #FF6F61;
  border-radius: 18px;
  font-size: 18px;
  transition: 0.4s linear;
  cursor: pointer;
}
.set-day .cards-set .card-set .body-card-set button:hover {
  background-color: #FF8C00;
}

.cards-top {
  display: flex;
  justify-content: space-between;
}
.cards-top .card-top {
  border-radius: 24px;
  width: 280px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cards-top .card-top img {
  width: 280px;
  height: 260px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.cards-top .card-top .body-card {
  padding: 18px;
}
.cards-top .card-top .body-card h4 {
  font-size: 18px;
}
.cards-top .card-top .body-card .star {
  margin-top: 4px;
  color: #FF8C00;
  margin-top: 12px;
}
.cards-top .card-top .body-card .black-star {
  color: black;
}
.cards-top .card-top .body-card .footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.cards-top .card-top .body-card .footer-card p {
  font-size: 18px;
}
.cards-top .card-top .body-card .footer-card button {
  color: white;
  padding: 6px;
  width: 100px;
  border: none;
  background: #FF6F61;
  border-radius: 18px;
  font-size: 12px;
  transition: 0.4s linear;
  cursor: pointer;
}
.cards-top .card-top .body-card .footer-card button:hover {
  background-color: #FF8C00;
}

.cards-menu {
  display: flex;
  justify-content: space-between;
}
.cards-menu .card-menu {
  border-radius: 24px;
  width: 280px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cards-menu .card-menu img {
  width: 200px;
  height: 150px;
  margin-top: 36px;
  margin-left: 40px;
  transition: transform 0.3s;
}
.cards-menu .card-menu .body-card {
  padding: 18px;
}
.cards-menu .card-menu .body-card h4 {
  font-size: 18px;
}
.cards-menu .card-menu .body-card .star {
  margin-top: 4px;
  color: #FF8C00;
  margin-top: 12px;
}
.cards-menu .card-menu .body-card .black-star {
  color: black;
}
.cards-menu .card-menu .body-card .footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.cards-menu .card-menu .body-card .footer-card p {
  font-size: 18px;
}
.cards-menu .card-menu .body-card .footer-card button {
  color: white;
  padding: 6px;
  width: 100px;
  border: none;
  background: #FF6F61;
  border-radius: 18px;
  font-size: 12px;
  transition: 0.4s linear;
  cursor: pointer;
}
.cards-menu .card-menu .body-card .footer-card button:hover {
  background-color: #FF8C00;
}

.card-menus .card-menu img {
  width: 150px;
  margin-left: 72px;
}

.card-menus-two .card-menu img {
  width: 100px;
  margin-left: 84px;
}

.card-menu:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-top:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-set:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-pop:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-menu img:hover {
  transform: scale(1.05);
}

footer {
  background: #FFB6C1;
  margin-top: 72px;
  padding: 36px;
  flex: 1.5;
}
footer .foot {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .foot .info-footer {
  margin-bottom: 48px;
}
footer .foot .info-footer img {
  margin: 12px 0px;
  width: 120px;
  margin-left: 84px;
}
footer .foot .info-footer p {
  width: 70%;
  text-align: center;
}
footer .foot .follow-footer .icon-img {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 12px 0px;
}
footer .foot .follow-footer .icon-img img {
  width: 40px;
}
footer .foot .our-store .icon-page {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 9px 0px;
}
footer .foot .our-store .icon-page span.material-symbols-outlined {
  font-size: 26px;
}
footer .foot .get-toch .icon-page {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 18px 0px;
}

.nav-contain {
  background: #FFB6C1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 6px;
}
nav ul {
  display: flex;
}
nav ul .img-logo img {
  width: 80px;
}
nav ul.center-nav li a {
  padding: 48px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: 0.4s linear;
}
nav ul.center-nav .active {
  -webkit-text-decoration: underline white 2px;
          text-decoration: underline white 2px;
  color: white;
}
nav ul.logo-icon {
  display: flex;
  align-items: center;
  border: none;
  background: #FF6F61;
  padding: 10px;
  border-radius: 24px;
  gap: 12px;
}
nav ul.logo-icon li a {
  color: white;
  text-decoration: none;
}
nav ul.logo-icon span {
  font-size: 28px;
  color: white;
}

.second_card {
  display: flex;
  width: 80%;
  margin-left: 200px;
  gap: 60px;
}
.second_card .main_card {
  width: 26%;
  height: 50vh;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 60px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.second_card .main_card img {
  margin-top: 50px;
  width: 70px;
  border-radius: 48px;
}
.second_card .main_card .text1 {
  margin: 12px;
}
.second_card .main_card span {
  font-size: 14px;
}
.second_card .main_card p {
  font-size: 14px;
}
.second_card .main_card .star1 {
  color: orange;
}
.second_card .main_card .star1 span {
  font-size: 18px;
}

.i1 i {
  transition: transform 0.3s, box-shadow 0.3s;
}

.i1 i:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.main_card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.caption {
  color: #FF6F61;
  margin-top: 60px;
  margin-left: 132px;
}

.bg-img {
  background-image: url(../image/contact/Background.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}
.bg-img .text {
  width: 90%;
  margin: auto;
  position: relative;
  top: 30%;
  left: 32px;
}
.bg-img .text h1 {
  font-size: 48px;
}
.bg-img .text h1, .bg-img .text p {
  color: #FF6F61;
}
.bg-img .text p {
  width: 45%;
  font-size: 18px;
}

.media {
  gap: 60px;
  display: flex;
  margin-top: 30px;
  margin-left: 25px;
}
.media i {
  color: white;
  background-color: #FF6F61;
  padding: 16px;
  border-radius: 24px;
}

.btn-contact {
  color: white;
  padding: 12px;
  width: 180px;
  border: none;
  background: #FF6F61;
  border-radius: 24px;
  font-size: 18px;
  transition: 0.4s linear;
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
  margin-top: 10px;
}

.btn {
  margin-left: 100px;
}

h1 {
  font-family: "Itim", cursive;
}