@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Moul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Moul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Moul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav-contain {
  background: #FFB6C1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  padding: 6px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul .img-logo img {
  width: 80px;
}
nav ul.center-nav li a {
  padding: 48px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}
nav ul.center-nav .active {
  -webkit-text-decoration: underline white 2px;
          text-decoration: underline white 2px;
  color: white;
}
nav ul.logo-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: #FF6F61;
  padding: 10px;
  border-radius: 24px;
  gap: 12px;
}
nav ul.logo-icon li a {
  color: white;
  text-decoration: none;
}
nav ul.logo-icon span {
  font-size: 28px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", serif;
  list-style: none;
}

.nav-contain {
  background: #FFB6C1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  padding: 6px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul .img-logo img {
  width: 80px;
}
nav ul.center-nav li a {
  padding: 48px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}
nav ul.center-nav .active {
  -webkit-text-decoration: underline white 2px;
          text-decoration: underline white 2px;
  color: white;
}
nav ul.logo-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: #FF6F61;
  padding: 10px;
  border-radius: 24px;
  gap: 12px;
}
nav ul.logo-icon li a {
  color: white;
  text-decoration: none;
}
nav ul.logo-icon span {
  font-size: 28px;
  color: white;
}

footer {
  background: #FFB6C1;
  margin-top: 72px;
  padding: 36px;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}
footer .foot {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .foot .info-footer {
  margin-bottom: 48px;
}
footer .foot .info-footer img {
  margin: 12px 0px;
  width: 120px;
  margin-left: 84px;
}
footer .foot .info-footer p {
  width: 70%;
  text-align: center;
}
footer .foot .follow-footer .icon-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: 12px 0px;
}
footer .foot .follow-footer .icon-img img {
  width: 40px;
}
footer .foot .our-store .icon-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: 9px 0px;
}
footer .foot .our-store .icon-page span.material-symbols-outlined {
  font-size: 26px;
}
footer .foot .get-toch .icon-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: 18px 0px;
}

h1, h3, h4, h5, h6 {
  font-family: "Itim", cursive;
}

p {
  font-family: "Poppins", serif;
}

.banner {
  background-image: url(../image/order/banner-order.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}
.banner h1 {
  color: #FF6F61;
  width: 30%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 30%;
  font-size: 48px;
}

.order-form {
  font-size: 48px;
  text-align: center;
  font-family: "Itim", cursive;
  margin-top: 54px;
}

.group-cards {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  margin-top: 64px;
}
.group-cards .card {
  background: white;
  width: 360px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.group-cards .card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.group-cards .card form input[type=checkbox] {
  margin-left: 24px;
  margin-top: 24px;
  width: 24px;
  height: 24px;
  background-color: white;
}
.group-cards .card form img {
  width: 60%;
  margin: auto;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}
.group-cards .card form img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.group-cards .card .footer-card {
  background: #FFF7EF;
  row-gap: 14px;
  width: 100%;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.group-cards .card .footer-card h4 {
  color: #FF6F61;
}
.group-cards .card .footer-card .quantity {
  margin-top: 14px;
}
.group-cards .card .footer-card .quantity p {
  margin-top: 24px;
  padding: 8px;
  border: solid 1px lightgray;
  background: white;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}
.group-cards .card .card:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}
.content .coupun {
  padding: 24px;
}
.content .coupun form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .coupun form label {
  font-family: "Itim", cursive;
  font-size: 24px;
}
.content .coupun form input {
  border: none;
  border-bottom: 1px solid;
  margin-top: 50px;
  outline: none;
}
.content .coupun button {
  color: white;
  padding: 12px;
  width: 180px;
  border: none;
  background: #FF6F61;
  border-radius: 24px;
  font-size: 18px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  cursor: pointer;
  width: 100px;
  margin-top: 48px;
}
.content .total {
  margin-bottom: 48px;
  margin-right: 200px;
}
.content .total h3 {
  margin-top: 48px;
  color: #FF6F61;
}

.done-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.done-button button {
  color: white;
  padding: 12px;
  width: 180px;
  border: none;
  background: #FF6F61;
  border-radius: 24px;
  font-size: 18px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  cursor: pointer;
  border: solid 1px #FF6F61;
}

button:hover {
  border: solid 1px #FF6F61;
  background: none;
  color: #FF6F61;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .banner {
    height: 50vh;
  }
  .banner h1 {
    font-size: 36px;
  }
  .order-form {
    font-size: 36px;
  }
  .group-cards .card img {
    width: 90%;
  }
  .content .total {
    margin-right: 50px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .banner {
    height: 40vh;
  }
  .banner h1 {
    font-size: 20px;
  }
  .order-form {
    font-size: 36px;
  }
  .group-cards .one, .group-cards .three {
    display: none;
  }
  .group-cards .two {
    width: 70%;
  }
  .group-cards .card form img {
    margin: 24px 0px;
    margin: auto;
    width: 50%;
  }
  .content {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .content .coupun form label {
    font-size: 24px;
  }
  .content .coupun form input {
    font-size: 12px;
    margin-top: 12px 0px;
  }
  .content .coupun button {
    font-size: 12px;
  }
  .content .total {
    position: relative;
    left: 10%;
    width: 70%;
  }
  .content .total h3 {
    margin-top: 24px;
    font-size: 18px;
  }
  .done-button {
    margin-top: 24px;
  }
  .done-button button {
    padding: 8px;
    font-size: 20px;
  }
}