@import './main';
@import './components/card';
@import './components/footer';
@import './components/navbar';
@import './components/variable';
@import './mixins/groupmixin';


@import './main';
@import './components/card';
@import './components/footer';
@import './components/navbar';
@import './components/variable';
@import './mixins/groupmixin';

body {
    background:  $bg-color;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Itim", cursive;
}
p{
    font-family: "Poppins", serif;
}
//banner
.banner{
    background-image: url(../image/about/photo_2024-10-22_14-11-18.jpg);
    @include bg-img;
    height: 80vh;
    .group-text{
        width: 90%;
        margin: auto;
        position: relative;
        top: 30%;
        right: 3%;
        h1{
            font-size: $font-size *3 + 6px;
        }
        h1, p{
            text-align: center;
            color: $primary-color;
        }
        p{
            width: 48%;
            margin: auto;
            
        }
    }
}
//content

.card-container {
    @include df-fw;
    width: 90%;
    margin: auto;
    column-gap: 20px;

    .card {
        margin-top: 80px;
        padding: 60px;
        width: 49%;
        height: 557px;
        border-radius: 24px;
        background: $white-color;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        h2 {
            font-size: 2rem;
            color: $primary-color;
        }
        h3 {
            font-size: 1.5rem;
            color: $primary-color ;
            margin: 16px 0px;
        }
        p{
            margin-top: 32px;
            // font-weight: bold;
        }

        .group-icon {
            margin-top: 32px;
            img {
                width: 40px;
                margin-right: 20px;
            }
        }
        button {
            @include button;
            margin-top: 50px;
        }
    }

    .img {
        padding: 0px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 24px;
        }
    }

}
.value-container{
    width: 90%;
    margin: auto;
    background: $white-color;
    border: none;
    border-radius: 24px;
    margin-top: 80px;
    .value{
        padding: 60px;
        text-align: center;
        .head{
            h2{
                color: $primary-color
            }
            p{
                width: 60%;
                margin: auto;
                padding-top: $padding;
            }
        }
        .content{
            @include df-alc;
            justify-content: space-around;
            margin: 54px 0px;
            .left, .right{
                text-align: start;
                ul{
                    li{
                        margin-top: 40px;
                        border: none;
                        border-radius: 16px;
                        padding: $padding - 4;
                        background: $bg-color;
                    }
                }
            }
            img{
                width: 360px;
                height: 300px;
            }
        }
    }
}