@import './main';
@import './components/footer';
@import './components/navbar';
@import './components/variable';
@import './mixins/groupmixin';

body {
    background:  $bg-color;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Itim", cursive;
}
p{
    font-family: "Poppins", serif;
}
//banner
.banner{
    background-image: url(../image/about/photo_2024-10-22_14-11-18.jpg);
    @include bg-img;
    height: 80vh;
    .group-text{
        width: 90%;
        margin: auto;
        position: relative;
        top: 30%;
        right: 3%;
        h1{
            font-size: $font-size *3 + 6px;
        }
        h1, p{
            text-align: center;
            color: $primary-color;
        }
        p{
            width: 48%;
            margin: auto;
            margin-top: 24px;
        }
    }
}
.card-container {
    @include df-fw;
    width: 90%;
    margin: auto;
    column-gap: $gap +8;
    .card {
        margin-top: 80px;
        padding: $padding *5;
        width: 49%;
        height: 557px;
        border-radius: $border-radius;
        background: $white-color;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        h2 {
            font-size: 2rem;
            color: $primary-color;
        }
        h3 {
            font-size: 1.5rem;
            color: $primary-color ;
            margin: 16px 0px;
        }
        p{
            margin-top: 32px;
        }

        .group-icon {
            margin-top: 32px;
            img {
                width: 40px;
                margin-right: 20px;
                transition: background-color 0.3s ease, transform 0.3s ease;
            }
            img:hover {
                transform: translateY(-8px);
            }
        }
        button {
            @include button;
            margin-top: 50px;
        }
        button:hover{
            border: 2px solid;
            background: none;
            color: $primary-color;
        }
    }
    .img {
        padding: 0px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        img {
            width: 100%;
            height: 100%;
            border-radius: 24px;
        }
    }
    .img:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
    }

}
.value-container{
    width: 90%;
    margin: auto;
    background: $white-color;
    border: none;
    border-radius: $border-radius;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .value{
        padding: $padding *5;
        text-align: center;
        .head{
            h2{
                color: $primary-color;
                font-size: $font-size + 20;
            }
            p{
                width: 60%;
                margin: auto;
                padding-top: $padding;
            }
        }
        .content{
            @include df-alc;
            justify-content: space-around;
            margin: 54px 0px;
            .left, .right{
                text-align: start;
                ul{
                    li{
                        margin-top: 40px;
                        border: none;
                        border-radius: $border-radius -8;
                        padding: $padding - 4;
                        background: $bg-color;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                        transition: background-color 0.3s ease, transform 0.3s ease;
                    }
                    li:hover{
                        transform: translateY(-8px);
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
                    }
                }
            }
            img{
                width: 360px;
                height: 300px;
            }
        }
    }
}
.service{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    h2{
        color: $primary-color;
        font-size: $font-size + 20;
    }
    .group-card{
        @include df-jcc-alc;
        column-gap: $gap + 8;
        margin-top: 64px;
        .card{
            text-align: center;
            align-content: center;
            width: 200px;
            height: 150px;
            border: none;
            border-radius: $border-radius;
            background: $white-color;
            padding: $padding;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            transition: background-color 0.3s ease, transform 0.3s ease;
            p{
                width: 80%;
                margin: auto;
            }
        }
        .card:hover {
            transform: translateY(-8px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
        }
    }
}
.baker{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    h2{
        color: $primary-color;
        font-size: $font-size + 20;
    }
    .baker-img{
        @include df-jcb;
        margin-top: 64px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        .img{
            img{
                width: 260px;
                height: 260px;
                border: none;
                border-radius: 100%;
                object-fit: cover;
                transition: transform 0.3s, box-shadow 0.3s;
            }
            img:hover{
                transform: scale(1.05);
            }
            p{
// <<<<<<< HEAD
// =======

// >>>>>>> order-page
                margin-top: 56px;
                font-size: $font-size + 12;
                transition: background-color 0.3s ease, transform 0.3s ease;
            }
            p:hover {
                transform: translateY(-8px);
                font-weight: bold;
            }
        }
    }
}
.footer{
    margin-top: 80px;
}