@import './main';
@import './components/footer';
@import './components/navbar';
@import './components/variable';
@import './mixins/groupmixin';
@import "./mixins/responsive-footer";
@import "./mixins/respondsive-contact";
body {
    background:  $bg-color;
}
h1, h3, h4, h5, h6{
    font-family: "Itim", cursive;
}
p{
    font-family: "Poppins", serif;
}
//banner
.banner{
    background-image: url(https://img.freepik.com/premium-photo/bread-with-wheat-ears-wheat-wooden-table_438099-34341.jpg?w=826);
    @include bg-img;
    height: 80vh;
    .group-text{
        width: 90%;
        margin: auto;
        position: relative;
        top: 30%;
        h1{
            font-size: $font-size *3 + 6px;
        }
        h1, p{
            text-align: center;
            color: $primary-color;
        }
        p{
            width: 48%;
            margin: auto;
            margin-top: 24px;
        }
    }
}

.menu {
    display: none
}

.card-container {
    @include df-fw;
    width: 90%;
    margin: auto;
    column-gap: $gap + 8;
    .card {
        margin-top: 80px;
        padding: $padding *5;
        width: 49%;
        height: 557px;
        border-radius: $border-radius;
        background: $white-color;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        h2 {
            font-size: 2rem;
            color: $primary-color;
            font-family: "Itim", cursive;


        }
        h3 {
            font-size: 1.5rem;
            color: $primary-color ;
            margin: 16px 0px;
        }
        p{
            margin-top: 32px;
        }

        .group-icon {
            margin-top: 32px;
            img {
                width: 40px;
                margin-right: 20px;
                transition: background-color 0.3s ease, transform 0.3s ease;
            }
            img:hover {
                transform: translateY(-8px);
            }
        }
        button {
            @include button;
            border: solid 1px $primary-color;
            margin-top: 50px;
        }
        button:hover{
            border: 1px solid $primary-color;
            background: none;
            color: $primary-color;
        }
    }
    .img {
        padding: 0px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        img {
            width: 100%;
            height: 100%;
            border-radius: 24px;
            object-fit: cover;
        }
    }
    .img:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
    }

}
.value-container{
    width: 90%;
    margin: auto;
    background: $white-color;
    border-radius: $border-radius;
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    .value{
        padding: $padding *5;
        text-align: center;
        
            h2{
                color: $primary-color;
                font-size: $font-size + 20;
            }
            p{
                width: 60%;
                margin: auto;
                padding-top: $padding;
            }
        }
        .content{
            @include df-alc;
            justify-content: space-around;
            margin: 54px 0px;
            .left, .right{
                text-align: center;
                ul{
                    li{
                        margin-top: $margin *4 - 8;
                        border: none;
                        border-radius: $border-radius - 8;
                        padding: $padding - 4;
                        height: 100px;
                        background: $bg-color;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                        transition: background-color 0.3s ease, transform 0.3s ease;
                        p{
                            width: 90%;
                        }
                    }
                    li:hover{
                        transform: translateY(-8px);
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
                    }
                }
            }
            img{
                width: 360px;
                height: 300px;
            }
        }
    }

.service{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: $margin *7 - 4;
    h2{
        color: $primary-color;
        font-size: $font-size + 20;
    }
    .group-card{
        @include df-jcc-alc;
        column-gap: $gap + 8;
        margin-top: $margin *5 + 4;
        .card{
            text-align: center;
            align-content: center;
            width: 200px;
            height: 150px;
            border: none;
            border-radius: $border-radius;
            background: $white-color;
            padding: $padding;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            transition: background-color 0.3s ease, transform 0.3s ease;
            .fa-phone, .fa-shop, .fa-envelope{
                font-size: $font-size *2;
            }
            .fa-square-whatsapp{
                font-size: $font-size *2 + 6;
            }
            p{
                width: 80%;
                margin: auto;
            }
        }
        .card:hover {
            transform: translateY(-8px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
        }
    }
}
.baker{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    h2{
        color: $primary-color;
        font-size: $font-size + 20;
    }
    .baker-img{
        @include df-jcb;
        margin-top: 64px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        .img{
            img{
                width: 260px;
                height: 260px;
                border: none;
                border-radius: 100%;
                object-fit: cover;
                transition: transform 0.3s, box-shadow 0.3s;
            }
            img:hover{
                transform: scale(1.05);
            }
            p{

                margin-top: 56px;

                margin-top: $margin *3;

                font-size: $font-size + 12;
                transition: background-color 0.3s ease, transform 0.3s ease;
            }
            p:hover {
                transform: translateY(-8px);
                font-weight: bold;
            }
        }
    }
}

// Responsive on tablet
@media only screen and (min-width:769px) and (max-width:1024px){
    body{
        width: 100%;
        height: auto;
    }
    .banner{
        height: 50vh;
    }
    .card-container {
        @include df-jcb;
        column-gap: $gap ;
        .card {
            width: 45%;
            height: 680px;
            button{
                width: 100%;
            }
        }
        .img{
            width: 380px;
            height: 350px;
        }
        .card-to-top{
            margin-top: 510px;
            position: absolute;
            left: 55%;
            width: 40%;
        }
    }
    .value-container .value{
        .head p{
            width: 90%;
        }
        .content{
            gap: $gap;
            img{
                width: 240px;
                height: 200px;
            }
            .left ul li p, .right ul li p{
                font-size: $font-size;
            }
        }
    }
    .service{
        width: 70%;
        margin: auto;
        p{
            font-size: $font-size;
        }
    }
    .baker {
        width: 90%;
        margin: auto;
        .baker-img .img{
            img {
                width: 160px;
                height: 160px;
            }
            p{
                font-size: $font-size + 6;
            }
        }
    }
    .baker, .service{
        margin-top: $margin *5;
    }
    .value h2, .service h2, .baker h2{
        font-family: "Itim", cursive;
    }
}

// responsive on mobile phone

@media only screen and (min-width:320px) and (max-width: 767px){
    .banner{
        height: 40vh;
        .group-text{
            h1{
                font-size: $font-size *2;
            }
        }
        p{
            font-size: $font-size ;
        }
    }
    .card-container {
        width: 96%;
        column-gap: 0px;
        .card {
            width: 94%;
            height: 440px;
            margin: auto;
            margin-top: $margin ;

            h2 {
                font-size: 16px;
            }

            p {
                font-size: 12px;
                margin-top: 24px;
            }

            h3 {
                font-size: 14px;
            }

            .group-icon {
                img {
                    width: 30px;
                }
            }

            button {
                padding: 8px;
                font-size: 12px;
                width: 100%;
            }
        }
        .card-reverse{
            display: flex;
            flex-direction: column-reverse;
        }
        .img {
            width: 170px;
            height: 180px;
        }
    }

    .value-container {
        width: 90%;
        margin-top: -1px;
        margin-top: 30px;
        .value {
            h2 {
                font-size: 16px;
            }

            p {
                font-size: 12px;
                width: 80%;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            margin-top: -10px;
            img {
                display: none;
            }
        }
    }
    .service{
        width: 96%;
        .group-card{
            @include df-fw;
            .card{
                width: 170px;
                margin-bottom: $margin + 10;
            }
        }
    }
    .baker{
        width: 96%;
        h2{
            margin-bottom: $margin;
            margin-top:  -40px;
            margin-bottom: 30px;
        }
        .baker-img{
            @include df-fw;
            width: 80%;
            margin: auto;
            margin-bottom: $margin;
            .img{
                img{
                    width: 140px;
                    height: 140px;
                    margin-top: 30px;
                }
                p{
                    font-size: $font-size + 4;
                    margin-top: $margin + 8 ;
                    margin-top: -6px;
                }
            }
        }
    }
    .value-container .value h2, .service h2, .baker h2{
        font-family: "Itim", cursive;
        font-size: $font-size *2;

    }

}