@import './main';
@import './components/card';
@import './components/footer';
@import './components/navbar';
@import './components/variable';
@import './mixins/groupmixin';
@import "./components/card_contact";
@import "./mixins/respondsive-contact";



h1{
    font-family: "Itim", cursive;
}
.menu{
    display: none;
}
.bg-img{
    background-image: url(https://cdn.pixabay.com/photo/2018/08/18/10/36/roll-3614535_1280.jpg);
    @include bg-img;
    height: 80vh;
    .text{
        width: 80%;
        position: relative;
        top: 20%;
        left:80px;
        h1{
            font-size: $font-size * 4;
        }
        h1, p{
            color: $third-color;
        }
        p{
            margin: $margin - 6;
            width: 45% ;
            font-size: $font-size + 6;
        }  
    }  
}
    .media {
      gap: 60px;
      display: flex;
      margin-top: 30px;
      margin-left: 25px;
    i{
        color: white;
        background-color: $primary-color;
        padding: $padding + 4;
        border-radius: $border-radius;
    }  
    }
    .btn-contact{
    @include button;
    padding: $padding - 2;
    font-size: $font-size + 2;
    margin-top: 10px; 
    }
    .btn{
    margin-left: 80px;
    }






