@import './main';
@import './components/card';
@import './components/footer';
@import './components/navbar';
@import './components/variable';
@import './mixins/groupmixin';
@import "./components/card_contact";



.bg-img{
    background-image: url(https://media.istockphoto.com/id/1009993828/photo/buns-on-a-white-plate-with-ripe-raspberries-and-jam.jpg?s=612x612&w=0&k=20&c=czAFVnqrwG8qPSTxHaklBDOB_L4B2-TrNZ5CbGpsv4A=);
    @include bg-img;
    height: 80vh;
    .text{
        width: 90%;
        margin: auto;
        position: relative;
        top: 30%;
        left:32px;
        h1{
            font-size: $font-size *4;
        }
        h1, p{
            color: $primary-color;
        }
        p{
            width: 45%;
            font-size: $font-size + 6;
        }
    }
    
    
}

.media {
      gap: 60px;
      display: flex;
      margin-top: 30px;
      margin-left: 25px;
    i{
        color: white;
        background-color: $primary-color;
        padding: $padding + 4;
        border-radius: $border-radius;
    }
    
    
}
.BTN-CONTACT{
    @include button;
    padding: $padding - 4;
    margin-left: 100px;
    font-size: $font-size + 2;
    margin-top: 10px;

}
h1{
    font-family: "Itim", cursive;
}






