@import './main';
@import './components/card';
@import './components/footer';
@import './components/navbar';
@import './components/variable';
@import './mixins/groupmixin';
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Moul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background: $bg-color;
}
header{
    background-image: url(../image/home/background.jpg);
    height: 86vh;
    @include bg-img;
    .head-container{
        width: 90%;
        margin: auto;
        color: $primary-color;
        font-size: $font-size * 2 + 4;
        position: relative;
        top: 25%;
        button{
            @include button;
            margin-top: $margin * 2;
        }
    }
}
.body-container{
    width: 90%;
    margin: auto;
    .popular-card {
        width: 90%;
        margin: auto;
        .cards-pop{
            @include df;
            gap: $gap * 3;
        }
    }
    .popular-card h2{   
        font-family: "Itim", cursive;
        text-align: center;
        margin: $margin *5 $margin * 0;
        color: $seconary-color;
        font-weight: bold;
        font-size: $font-size * 3;
    }
    .set-day h1{
        font-family: "Itim", cursive;
        margin: $margin * 5 $margin * 0;
        color: $seconary-color;
        font-weight: bold;
        text-align: center;
    }
}