@import './main';
@import './components/navbar';
@import './components/footer';
@import './components/variable';
@import './mixins/groupmixin';

// body {
//     background:  $bg-color;
// }
h1, h2, h3, h4, h5, h6{
    font-family: "Itim", cursive;
}
p{
    font-family: "Poppins", serif;
}

//banner

.banner {
    background-image: url(../image/order/banner-order.jpg);
    @include bg-img;
    height: 80vh;
    h1 {
        color: $primary-color;
        width: 30%;
        margin: auto;
        text-align: center;
        position: relative;
        top: 30%;
        font-size: $font-size *4;
    }
}
.order-form{
    font-size: $font-size * 4;
    text-align: center;
    font-family: "Itim", cursive;
    margin-top: 54px;
}
.group-cards{
    width: 90%;
    margin: auto;
    @include df-jcc-alc;
    column-gap: $gap * 4;
    margin-top: 64px;
    .card {
        background: $white-color;
        width: 360px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        button {
            width: 30px;
            height: 30px;
            background-color: $white-color;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            border: solid 1px lightgray;
        }
        img { 
            width: 60%;
            margin: auto;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }
        img:hover{
            transform: scale(1.05);
        }
        .footer-card {
            row-gap: $gap +2;
            width: 100%;
            padding: $padding *2 +8;
            @include df-fc;
            h4 {
                color: $primary-color;
            }
            .quantity{
                margin-top: 14px;
                p {
                    margin-top: 24px;
                    padding: $padding -4;
                    border: none;
                    background: $white-color;
                    width: 100px;
                    @include df-jcc-alc;
                    border-radius: $border-radius /2 -4;
                }
            }
        }

        .second {
            background: $bg-color;
        }
    }
    .card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
    }
}
.content{
    width: 90%;
    margin: auto;
    @include df-jcb-alc;
    margin-top: 64px;
    .coupun{
        padding: $padding *2;
        form{
            @include df-fc;
            label{
                font-family: "Itim", cursive;
                font-size: $font-size *2;
            }
            input {
                border: none;
                border-bottom: 1px solid;
                margin-top: 50px;
                outline: none;
                
            }
        }
        button{
            padding: $padding;
            width: 100px;
            @include df-jcc-alc;
            color: $white-color;
            background: $primary-color ;
            border: none;
            margin-top: 50px;
        }
    }    
    .total{
        margin-bottom: 48px;
        margin-right: 200px;

        h3{
            margin-top: 48px;
            color: $primary-color;
        }
    }
}
.done-button{
    button{
        margin-top: 48px;
        @include df-jcc-alc;
        margin: auto;
        padding: $padding *2;
        border: none;
        border-radius: $border-radius /2;
        background: $primary-color;
        color: $white-color;
        font-size: $font-size + 4;
        font-family: "Itim", cursive;
    }
}
.footer{
    margin-top: 80px;
}