@import './main';
@import './components/navbar';
@import './components/footer';
@import './components/variable';
@import './mixins/groupmixin';
@import "./mixins/respondsive-contact";
@import "./mixins/responsive-footer";

// body {
//     background:  $bg-color;
// }
h1, h3, h4, h5, h6{
    font-family: "Itim", cursive;
}
p{
    font-family: "Poppins", serif;
}
.menu{
    display: none;
}
//banner

.banner {
    background-image: url(../image/order/banner-order.jpg);
    @include bg-img;
    height: 80vh;
    h1 {
        color: $primary-color;
        width: 30%;
        margin: auto;
        text-align: center;
        position: relative;
        top: 30%;
        font-size: $font-size *4;
    }
}
.order-form{
    font-size: $font-size * 4;
    text-align: center;
    font-family: "Itim", cursive;
    margin-top: 54px;
}
.group-cards{
    width: 90%;
    margin: auto;
    @include df-jcc-alc;
    column-gap: $gap * 4;
    margin-top: 64px;
    .card {
        background: $white-color;
        width: 360px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        form {
            @include df-fc;
            input[type=checkbox] {
                margin-left: 24px;
                margin-top: 24px;
                width: 24px;
                height: 24px;
                background-color: $white-color;
            }
            img { 
                width: 60%;
                margin: auto;
                transition: background-color 0.3s ease, transform 0.3s ease;
            }
            img:hover{
                transform: scale(1.05);
            }
        }
        .footer-card {
            background: $bg-color;
            row-gap: $gap + 2;
            width: 100%;
            padding: $padding *2 + 8;
            @include df-fc;
            h4 {
                color: $primary-color;
            }
            .quantity{
                margin-top: 14px;
                p {
                    margin-top: 24px;
                    padding: $padding - 4;
                    border: solid 1px lightgray;
                    background: $white-color;
                    width: 100px;
                    @include df-jcc-alc;
                    border-radius: $border-radius - 14;
            }
        }
    }
    .card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
    }
}
}
.content{
    width: 90%;
    margin: auto;
    @include df-jcb-alc;
    margin-top: $margin *5 + 4;
    .coupun{
        padding: $padding *2;
        form{
            @include df-fc;
            label{
                font-family: "Itim", cursive;
                font-size: $font-size *2;
            }
            input {
                border: none;
                border-bottom: 1px solid;
                margin-top: $margin *4 + 2;
                outline: none;
                
            }
        }
        button{
            @include button;
            width: 100px;
            margin-top: $margin *4;
        }
    }    
    .total{
        margin-bottom: $margin *4;
        margin-right: 200px;

        h3{
            margin-top: $margin *4;
            color: $primary-color;
        }
    }
}
.done-button{
    @include df-jcc-alc;
    button{
        @include button;
        border: solid 1px $primary-color;
    }
}
button:hover{
    border: solid 1px $primary-color;
    background: none;
    color: $primary-color;
}

//Responsive on tablet
@media only screen and (min-width:769px) and (max-width:1024px){
    .banner{
        height: 50vh;
        h1{
            font-size: $font-size *3;
        }
    }
    .order-form{
        font-size: $font-size *3;
    }
    .group-cards {
        .card {
            img {
                width: 90%;
            }
        }
    }
    .content .total{
        margin-right: 50px;
    }
}

// responsive on mobile phone
@media only screen and (min-width:320px) and (max-width: 767px){
    .banner{
       height: 40vh;
       h1{
        font-size: $font-size + 8;
       } 
    }
    .order-form{
        font-size: $font-size *3;
    }
    .group-cards{
        .one, .three{
            display: none;
        }
        .two {
            width: 70%;
        }
        .card{
            form{
                img{
                    margin: 24px 0px;
                    margin: auto;
                    width: 50%;
                }
            }
        }
    }
    .content{
        width: 80%;
        @include df-fc;
        align-items: start;
        .coupun{
            form{
                label{
                    font-size: $font-size *2;
                }
                input{
                    font-size: $font-size;
                    margin-top: $margin 0px;
                }
            }
            button{
                font-size: $font-size;
            }

        }
        .total{
            position: relative;
            left: 10%;
            width: 70%;
            h3{
                margin-top: $margin *2;
                font-size: $font-size + 6;
            }
        }
    }
    .done-button{
        margin-top: $margin *2;
        button{
            padding: 8px;
            font-size: $font-size + 8;
        }
    }
}
