@import "./variable";
@import "../mixins/groupmixin";

.second_card{
    @include df;
    width: 80%;
    margin-left: 200px;
    gap: $gap  * 5;
    .main_card{
    width: 26%;
    height: 50vh;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: $margin * 5;
    transition: transform 0.3s, box-shadow 0.3s;

    img{
        margin-top: 50px;
        width: 70px;
        border-radius: $border-radius + 24;
    }
    .text1{
        margin: $margin;
    }
    span{
        font-size: $font-size + 2;
    }
    p{
        font-size: $font-size + 2;
    }
    .star1{
        color: orange;  
    }
    .star1 span{
        font-size: $font-size + 6;
    }
     
}
}
.i1 i{
    transition: transform 0.3s, box-shadow 0.3s;
}
.i1 i:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

}
.main_card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.caption{
    color: $primary-color;
    margin: {
        top: $margin *5;
        left: $margin * 11;
    }
}
