@import '../components/variable';
@import '../mixins/groupmixin';
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Moul&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.nav-contain{
    background: $third-color;
}
nav{
    @include df-jcb-alc;
    width: 90%;
    margin: auto;
    padding: $padding - 6px;
    ul{
        @include df;
    }
    ul .img-logo img{
        width: 80px;
    }
    ul.center-nav li a{
        padding: $padding*4;
        color: $black-color;
        text-decoration: none;
        font-size: $font-size + 8px;
    }
    ul.center-nav .active{
        text-decoration: underline $white-color $padding - 10px;
        color: white;
    }
    ul.logo-icon{
        @include df-alc;
        border: none;
        background: $primary-color;
        padding: $padding - 2px;
        border-radius: 24px;
        gap: $gap;
    }
    ul.logo-icon li a{
        color: $white-color;
        text-decoration: none;
    }
    ul.logo-icon span{
        font-size: $font-size * 2 + 4px;
        color: $white-color;
    }
    
}
