// for color
$primary-color: #FF6F61;
$seconary-color: #FF8C00;
$third-color : #FFB6C1;
$white-color : white;
$bg-color : #FFF7EF;
$black-color:black;

//for spacing
$padding : 12px;
$margin : 12px;
$gap : 12px;

//for size of font 
$font-size : 12px