@import '../components/variable';
@mixin df-jcc-alc{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin df-alc{
    display: flex;
    align-items: center;
}
@mixin df{
    display: flex;
}
@mixin df-jcb {
    display: flex;
    justify-content: space-between;
}
@mixin df-jcb-alc{
    @include df-jcb;
    align-items: center;
}
@mixin df-fw {
    display: flex;
    flex-wrap: wrap;
}
@mixin df-fc {
    display: flex;
    flex-direction: column;
}
// bg-img
@mixin bg-img{
    background-position: center;
    background-size: cover;
    
}
//button
@mixin button {
    color: $white-color;
    padding: $padding;
    width: 180px;
    border: none;
    background: $primary-color;
    border-radius: 24px;
    font-size: $font-size + 6px;
    transition: 0.4s linear;
    cursor: pointer;
}
@mixin button-card {
    color: $white-color;
    padding: $padding - 6px;
    width: 100px;
    border: none;
    background: $primary-color;
    border-radius: 18px;
    font-size: $font-size;
    transition: 0.4s linear;
    cursor: pointer;
}
@mixin button-set {
    color: $white-color;
    padding: $padding - 8px;
    width: 120px;
    border: none;
    background: $primary-color;
    border-radius: 18px;
    font-size: $font-size + 6px;
    transition: 0.4s linear;
    cursor: pointer;
}
